<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>Adminiostrashunation</title>
<meta name="description" content=""/>
<meta name="author" content=""/>
<!-- Add sytlesheet stuff here... -->
<!-- Add script stuff here... -->
</head>

<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class='flashme'>
        {% for m in messages %}
        {{ m }}
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</body>
</html>

